.box {
	margin-top: 40px;
}
.panel-title {
	font-weight: bold;
}
.margintop {
	margin-top: 22px;
}
h1 {
	font-size: 50px;
}
li {
	list-style: none;
}
ul {
	-webkit-padding-start: 0;
}
footer {
	font-size: 0.8em;
}
a.btn.btn-success.btn-sm.btn-block {
  padding: 0px 0px;  
  font-size: 16px;
}
.well {	
	margin-bottom: 0px;
}
.item {
	margin-bottom: 10px;
}
.well-sm {
  padding: 5px;
}
.link-title {
	color: #008CBA;
	text-decoration: none;
}
.link-title:hover {
	font-weight: bold;
	text-decoration: none;
}
.panel-body {
  padding: 15px;
}
.panel-success>.panel-heading {
  color: #ffffff;
  background: #3c9a5f;
  border: none;
}
.panel-success {
    border: none;
    background-color: rgba(60, 154, 95, 0.12);
}
.field, .actions {
	margin-top: 10px;
}
.form-control-date {
    height: 39px;
    padding: 8px 12px;
    font-size: 15px;
    line-height: 1.4;
    color: #6f6f6f;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
h3 {
	margin-bottom: 20px;
}
.table-header {
  font-weight: bold;
  margin-bottom: 6px;
}